### What is pandas ?
 - Panda is an open source library in python for data analysis, data maupulation and data visulaization
 - its built top on numpy, scipy
 - Anaconda distribution include the pandas along with other packages installation by default
 - Ref : 
 - http://pandas.pydata.org/
 - https://pandas.pydata.org/pandas-docs/stable/basics.html

In [ ]:
# Pypi - is repository for open-source third party packages available in python.
#        we can use pip install at the command line to install those packages.
#      - we can use conda install to get the libraries avaialable in Conda Manager
#        !conda list pandas - to check if the package 'pandas' is already installed
#        !pip install 'package_name' or !conda install 'package_name' to install package from notebook

# Ref - http://doc.pypy.org/en/latest/install.html ,  http://packages.pypy.org/

### Exploratory Data Analysis using Numpy, Scipy, Pandas, Matplotlib

In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt 
import matplotlib.mlab as mlab
import seaborn as sns
%matplotlib inline

## Pandas Series : 
- One-dimensional series of indexed data, can be created from a list or arrays.
- Series has data value and index, data can be accessed by associated index

In [ ]:
ser1 = pd.Series([1,2,3,4,5])  # 
ser1

In [ ]:
ser1[0] # 0th Index
ser1[4] # 4th Index
ser1[1:3] # select form 1st to (3-1)2nd index

In [ ]:
ser1 = pd.Series([1,2,3,4,5], index=('a','b','c','d','e'))  # Pandas series is just like numpy array, only diff is numpy index
ser1                                                        # is implictly defined while in pd series explictly defined index.

## Pandas DataFrame - is a collection of pandas Series.

### Analytics Objective : Based on Historical advertising data, discover the relationship of advertisement with Sales and  recommend the marketing plan to result in high Product sales.

In [ ]:
#!conda install pandas

In [ ]:
import pandas as pd

In [ ]:
# read data from local disk
sales_data = pd.read_csv('C:\\Users\\jp\\Desktop\\testData\\Advertising.csv')


# reading the data from web
# temp_data = pd.read_table('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', sep=',', header=None)
# temp_data.head()

In [ ]:
type(sales_data)

#### Dataframe Attributes and underlying data

In [ ]:
sales_data.head()  # top five records

### Predictors or Features or dependent Variable
- TV : advertising budgets(in thousands of dollars) spent on TV ads for a single product in a market.
- Radio : advertising budgets(in thousands of dollars) spent on Radio ads.
- Newspaper : advertising budgets(in thousands of dollars) spent on Newspaper ads.

### Response or Independent Variable
- Sales : Sales of a single product in a given market (in thousands units)

In [ ]:
sales_data.tail() # bottom 5 records

In [ ]:
sales_data.size  # return the number of elements in dataframe

In [ ]:
sales_data.shape  # return the number of rows and columns

In [ ]:
sales_data.dtypes # return the dtypes of each column in dataframe

In [ ]:
sales_data.ndim # return the number of axes ( 1 - Pandas series, 2 - Pandas dataframe)

In [ ]:
sales_data.empty # Indicator whether dataframe is empty

In [ ]:
sales_data.memory_usage() # return memory usage of each column in bytes

In [ ]:
sales_data.axes # return the list representing the axes of the dataframe (row axis labels, column axis labels)

In [ ]:
sales_data.columns  # Retrieving the column names

In [ ]:
sales_data.index # Retrieving the Index labels

In [ ]:
sales_data.values # return only the values from dataframe in the numpy representation, the axes labels will be removed

### Column Selection, Sorting, Rename, Drop

In [ ]:
# Selecting a column
sales_data[['TV']].head()

#sales_data.TV.head()
#sales_data[['TV', 'Radio']].head(10)

In [ ]:
# Sorting the Data Frame
sales_data.sort_values(by='TV').head()  # Sorted basedon TV-advt-expenses values, default is in asceding order sorting

In [ ]:
sales_data.sort_values(by='TV', ascending=False).head()  # Sorted in descending order based on TV-add-expense

In [ ]:
# Dropping a cloumn
sales_data.drop('Sales', axis=1).head()
#sales_data.drop('Sales', axis=1, inplace=True)

In [ ]:
sales_data.head()

In [ ]:
# Dropping a row
sales_data.drop(2, axis=0).head()  
#sales_data.drop([1,3], axis=0, inplace=True)

In [ ]:
sales_data.head()

In [ ]:
#renaming the colum names 
sales_data.rename(columns = {'Area' : 'AreaName'}).head()

### Records selection subsetings

- Selection by poistion : df.iloc - (purely integer based indexing)
- Selection by labels : df.loc   - (label based indexing)

In [ ]:
sales_data.iloc[:10] # first 10 rows selection, with all the columns

In [ ]:
sales_data.iloc[2:5] # select from 2nd index to 4th index, with all the columns

In [ ]:
sales_data.iloc[0:4, 0:3 ]  # Row selector (0:4) - From 0th index to 3rd index rows, Columns Selectors (0:3) - 0th to 2nd columns

In [ ]:
sales_data.iloc[[2,5,10] , 0:3 ]  # select the specific row index

In [ ]:
sales_data[['TV','Radio']].iloc[0:4]

In [ ]:
sales_data.iloc[0:3 , : ]  # first 3 rows with all the columns

In [ ]:
sales_data.iloc[: , 0:3].head()   # select all rows, with first three columns

In [ ]:
# Where to use lable indexing where index are not integers
import numpy as np

dates = pd.date_range('1/1/2016', periods=6, freq='D')
#df1 = pd.DataFrame(np.random.randn(6, 4), columns=['a','b','c','d'])
df1 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a','b','c','d'])
df1

In [ ]:
df1.loc['2016-01-01']  #

In [ ]:
df1.loc['2016-01-02', :  ]

In [ ]:
df1.loc['2016-01-02':'2016-01-04', :]

#### Filtering - Subsetting

In [ ]:
# filtering a row from a panda data frame 

# Single Filter - list out all the records where TV advertisement expese > 250
sales_data[sales_data.TV > 250].head()

In [ ]:
# Mulitple Filter - list out all the records where TV advertisement expese > 250 and area='rural'
sales_data[(sales_data.TV > 250) & (sales_data.Area == 'rural')].head()

In [ ]:
# Mulitple Filter - list out all the records where TV advertisement expese > 250 or area='rural'
sales_data[(sales_data.TV > 250) | (sales_data.Area == 'rural')].head()

In [ ]:
# list out all the records where TV Advt budget = 800
sales_data[sales_data.TV == 800]

In [ ]:
# list out all the records where TV Advt budget = 800  and 286   - isin()
temp_data = sales_data[sales_data.TV.isin([800, 286])]
temp_data

In [ ]:
# writing the file into disk
temp_data.to_csv('temp_data.csv')

In [ ]:
sales_data.head()

#### Group By

In [ ]:
# Total number of sales_txn under each area : 
sales_data.groupby('Area').size()

In [ ]:
sales_data.head()

In [ ]:
# Exercise - Get the total Transactions for each Prod_type under each Area.

In [ ]:
sales_data.Area.value_counts()

In [ ]:
sales_data.Area.value_counts(normalize=True)

#sales_data.groupby(['Area','Prod_type']).size()
#sales_data.groupby(['Prod_type', 'Area']).size()
#sales_data.groupby('Area').mean()

In [ ]:
# Exercise - get the total sum of each attributes TV, Radio, Newspaper, Sales for each Area
#          - get the summary statistics for each attributes for each Area

In [ ]:
sales_data.describe()
#sales_data.describe().transpose()

In [ ]:
sales_data.groupby('Area').describe()

#sales_data.groupby('Area').describe().transpose

### Exercise - Load the IPL data and coplete the three level of exercises

In [ ]:
# sales_data.groupby('Area').std() , sales_data.groupby('Area').describe()

In [ ]:
###

In [ ]:
sales_data.head()

## Handling Categorical Features - SKLEARN

scikit-learn expects all features to be numeric. So how do we include a categorical feature in our model?

- **Ordered categories:** transform them to sensible numeric values (example: small=1, medium=2, large=3)
- **Unordered categories:** use dummy encoding (0/1)

What are the categorical features in our dataset?

- **Ordered categories:** weather (already encoded with sensible numeric values)
- **Unordered categories:** season (needs dummy encoding), holiday (already dummy encoded), workingday (already dummy encoded)

In [ ]:
# Examples
emp_data ={"emp_id":[1,2,3,4,5,6,7,8,9,10],"income":["high","low","low","high","high","low","low","high","high","low"]}

emp_df = pd.DataFrame(emp_data) # 10 employees data
emp_df

In [ ]:
emp_df.dtypes  # income columns in string literals, we want to map it to numerical values as high=1, low=0 ( Ordinal categorical)

####  Using Pandas Categorical Encoding

In [ ]:
# using Pandas Categorical Encoding 
# first convert that column data type as categorical and then apply pandas encoding for each categories

In [ ]:
# Categoricals are a pandas data type, which correspond to categorical variables in statistics:
# a variable, which can take on only a limited, and usually fixed, number of possible values 
emp_df['income_code2'] = emp_df['income'].astype('category') # Pandas categorical data types (compact data types, ordering)
emp_df.dtypes
#emp_df

In [ ]:
emp_df

In [ ]:
emp_df.income_code2.cat.categories  # category listing

In [ ]:
# catgorical encoding
emp_df['income_code2'] = emp_df.income_code2.cat.codes  # (encoded categories to numbers in alphnumeric order, high=0, low=1)
emp_df

In [ ]:
# change ordering of categories 
emp_df['income_code3'] = emp_df['income'].astype("category", categories = ['low','high'])
emp_df.income_code3.cat.categories

In [ ]:
emp_df['income_code3'] = emp_df.income_code3.cat.codes  
emp_df

In [ ]:
# - define a function to map each categories to numerical value and apply for each row

In [ ]:
def tran_incode(x):
    if x== "high":
        return 5
    else:
        return 2
    
#     if x == "low":

In [ ]:
tran_incode('high')
#tran_incode('high')

In [ ]:
emp_df.dtypes

In [ ]:
# Create new coded column by applying this function to each row of data frame
emp_df['income_code4'] = emp_df.income.apply(tran_incode)
emp_df

### One Hot coding  Categorical Variables  - Nominal Categories
- Convert each category to a new column and assign a value of 0 or 1.
- Use pandas get_dummies() function

In [ ]:
emp_df

In [ ]:
test_df = pd.get_dummies(emp_df, columns=['income']) # we can pass many categories to get converted into dummy variables
test_df

#### Numerical to Categorical - Binning

In [ ]:
test_df2 = pd.DataFrame()
test_df2['CTC'] = [10, 5, 25.4, 56.4, 76.1, 92.1, 45.3, 1.5, 7.5]

test_df2

In [ ]:
CTC_bins = [0, 5, 10, 25, 50, 75, 100]
labels = [1, 2, 3, 4, 5, 6]

In [ ]:
test_df2['bin_range'] = pd.cut(test_df2['CTC'], CTC_bins)  # (Bin (5,10) - 5 excluding, 10 including)
test_df2['CTC_binned'] = pd.cut(test_df2['CTC'], CTC_bins, labels=labels)
test_df2

### Data Cleaning steps

In [ ]:
sales_data.head(10)

#### Missing Values

In [ ]:
sales_data.describe()

In [ ]:
# List out all the missing values in each column
sales_data.isnull().sum()

In [ ]:
# List out all the missing values in each row
sales_data.isnull().sum(axis=1).head(10)

In [ ]:
# list out all the rows where Radio column has missing values
sales_data[sales_data.Radio.isnull()]

In [ ]:
# list out all the rows where Newspaper column has missing values
sales_data[sales_data.Newspaper.isnull()]

In [ ]:
# list out all the rows that has any missing value
sales_data[sales_data.isnull().any(axis=1)] 

#sales_data.isnull().any(axis=1)

In [ ]:
# Missing imputation - drop or impute with estimated values

# dropna() - Dropping the rows havng missing values
# fillna() - Imputing the missing values

# sales_data = sales_data.dropna()  # drop the rows having missing values

In [ ]:
# impute the missing values with mean

import numpy as np

# calculate the mean
Radio_mean = np.mean(sales_data.Radio)
Radio_mean

# # # # # # # Replace missing values with the mean
sales_data.Radio = sales_data.Radio.fillna(Radio_mean)

sales_data

Newspaper_mean = np.mean(sales_data.Newspaper)
sales_data.Newspaper = sales_data.Newspaper.fillna(Newspaper_mean)

In [ ]:
# Replace missing values with the mean
sales_data.Radio = sales_data.Radio.fillna(np.mean(sales_data.Radio))
sales_data.Newspaper = sales_data.Newspaper.fillna(np.mean(sales_data.Newspaper))

sales_data.isnull().sum()

### Merge - Combining diff dataframe
- Join
- Concantnate

In [ ]:
# Merge - Concatnate
df_1 = pd.DataFrame(np.random.randn(5, 4), columns=['a','b','c','d'])
df_1

In [ ]:
df_2 = pd.DataFrame(np.random.randn(3, 4), columns=['a','b','c','d'])
df_2

In [ ]:
pd.concat([df_1, df_2], axis=0)   # row level merging

In [ ]:
pd.concat([df_1, df_2], axis=0).reset_index(drop=True) # reseting the index

In [ ]:
# Merging dataframes having diff structures
df_3 = pd.DataFrame(np.random.randn(3, 5), columns=['a','b','c','d','e'])
df_3

In [ ]:
df_1

In [ ]:
### Merging df_1 and df_3
pd.concat([df_1, df_3], axis=0)              # default is outer join based merge
#pd.concat([df_1, df_3], axis=0, join='inner') # inner join based merge

#### Column level merging

In [ ]:
df_4 = pd.DataFrame(np.random.randn(3, 2), columns=['f','g'])
df_4

In [ ]:
df_3

In [ ]:
pd.concat([df_3, df_4], axis=1)  # Column level merging

In [ ]:
df_5 = pd.DataFrame(np.random.randn(4, 2), columns=['f','g'])
df_5

In [ ]:
pd.concat([df_3, df_5], axis=1)               # outer join (by default)
#pd.concat([df_3, df_5], axis=1, join='inner')  # inner join

#### Join - SQL Style merging two data frame

In [ ]:
# Merger two data frame

left_df = pd.DataFrame({'Txn' : ['txn1', 'txn2', 'txn3', 'txn4'], 'Item' : ['i1', 'i2', 'i3', 'i4'], 'Value' : [100, 200, 400, 400]}, columns=['Txn','Item','Value'])
left_df

In [ ]:
right_df = pd.DataFrame({'Item' : ['i1', 'i2', 'i3', 'i5'], 'Item_Descr' : ['Item_1', 'Item_2', 'Item_3', 'Item_5']})
right_df

#### Inner Join

In [ ]:
pd.merge(left_df, right_df, on='Item')

In [ ]:
pd.merge(left_df, right_df, how = 'inner', left_on='Item', right_on='Item')

#### Outer Join

In [ ]:
pd.merge(left_df, right_df, how = 'outer', left_on=['Item'], right_on= ['Item'])

#### Data copy

In [ ]:
df_10 = pd.DataFrame(np.random.randn(3, 4), columns=['A','B','C','D'])
df_10

In [ ]:
df_11 = df_10
df_11

In [ ]:
df_11.iloc[0,0] = 5.5  # updating a value explictly
df_11

In [ ]:
df_10

In [ ]:
df_12 = df_10.copy()  # Make a copy of the data and the indices

In [ ]:
df_12

In [ ]:
df_12.iloc[1,1] = 6.6
df_12

In [ ]:
df_10

### Max number of columns display setting

In [ ]:
pd.options.display.max_columns

In [ ]:
pd.set_option("display.max_columns", 30)
#pd.set_option("display.max_columns", 20)

In [ ]:
pd.options.display.max_rows