# Python basic programing
- We will cover the basics first 
- Then Python scientific **libraries*** Numpy, Scipy, Pandas

##### Python has currently two supported versions of Python 2.7 & 3.5+
- Ref : https://docs.python.org/3/tutorial/

In [ ]:
import sys
print( 'Python : ' , sys.version)

# Python details on coding
# https://docs.python.org/3.6/library/  - Official documentation of all the python builtin functions and modules

In [ ]:
#pwd()  # present working directory

In [ ]:
# '#' -> it is used for comments (hash key)

In [ ]:
"""
The following multple lines will be commented
line1 code
line2 code
line3 code

"""

"""
The following multple lines will be commented
line1 code
line2 code
line3 code

"""

In [ ]:
# Python Basics:

# Jupyter Shortcuts:

# ESC -> will take you to command mode (blue color) where you can navigate the notebook with arrow keys.
# Enter -> will take back to edit mode for coding for a given cell.

# Command + D + D -> Delete Cell
# Command + A -> Insert Above
# Command + B -> Insert Below

# Command + Y -> Code mode (cell)
# Command + M -> Markdown 

# Command + C -> Copy Cell
# Command + X -> Cut Cell

# Command + V -> Paste below
# Command + Shift + V -> Paste Above

In [ ]:
# Command + Shift + M -> Merge Cell
# Ctrl + Shift + Minus -> Split cell at cursor

# Command + H -> Help the shortcuts
# Ctrl + Shift + P -> Help shortcuts list

# Command + F -> Find and Replace

# Ctrl + Enter -> Run Cell
# Alt + Enter  -> Run cell and insert below
# Shift + Enter -> Run cell and select next

#### Python Variable naming convention

In [ ]:
# Python Variable naming convention
# 1 - it can only use letters, numbers and '_' character
# 2 - it can't begin with number
# 3 - it can be only one word

# Example : data_science, dataScience, data-science(wrong )

# storing values in the variables by using assignment operator (=)

var_1 = 10       ## set a variable in this interpreter session 
#var-1 = 10 
var_1

In [ ]:
var_1        ## entering an expression prints its value

In [ ]:
print(var_1)   ## Printing the value of var_1

In [ ]:
var_1=10
var_2=20
var_3 = var_1 + var_2
var_3

In [ ]:
var_2 = 'test'  ## assigning the some string values
var_2

In [ ]:
len(var_2)  # call the len() function on a string

In [ ]:
# System input-output

var_1 = input('Enter the input value : ')  # sys.stdin

print('variable var_1 value is  : ', var_1 ) # Printing to sys.stdout

In [ ]:
type(var_1)

In [ ]:
# Exercise : Python addition script to accept two values and return the 75% of sum total and execute using command line.

In [ ]:
# Python script execution - Command line , Jupyter notebook interactive Cell execution
# test_python.py - command line execution

#### Python Common Data Types - Integer, Floating Point, String, Boolean

In [ ]:
# Integer

#Integer ( -3, -2 , -1, 0, +1, +2 )
a = 3 
print(a)
print(type(a))

In [ ]:
a = a+3
print(a)

In [ ]:
a = 3
a +=3  # Addition
a

In [ ]:
a=3
a *=3  # Multiplication 
a

In [ ]:
a=3
a **=3  # Exponentiation
a

In [ ]:
# Floating point number 
# (-1.5, -1.75, 1.0, +1.5)

b = 1.5

print(b)
print(type(b))

In [ ]:
print(b, b+2, b*2, b**3)

In [ ]:
# Boolean type  - (True or False)

d = True

print(d)
print(type(d))

In [ ]:
# Comparision operators

#1 '=='  => equal to
# print(49==49)
# print(49==50)
# print('Hello' == 'Hello')

#2 '!=' =>  not equal to
print(49!=49)
print(49!=50)


# #3 '>' => greater than
# print(10>8)
# print(12>20)

#### Data Conversion from one type to another

In [ ]:
# int() function
print(int(1.25))
print(int('11'))

In [ ]:
# float() function
print(float(10))
print(float('1'))

In [ ]:
# str() function 
a = 29
print(a)

a = str(a)
a

#### Conditional Operator

In [ ]:
x=2

if(x==3):
    print(' input value is 3 ')
else:
    print('input value is not 3 ')

In [ ]:
# Exercise: if logic to identify the sign ( -ve, +ve, Zero) of a number

In [ ]:
# For Loop - is used to repeating a section of code n times. 

# For loop and range - statement iterates over the members of a sequence in order, executing the block each time

seq = [1, 2, 3, 4, 5]

for i in seq:
    print ( 'value ', i)
    
#    print('this is test (' + str(i) + ')')

In [ ]:
list(range(0, 10))        # Sequence list incremented by 1 (default)

#list(range(0,100, 5))  # Sequence list incremented by 4

In [ ]:
# iterates over the members of a sequence in a range,
for i in range(0, 5):
    print ( 'value ', i)

In [ ]:
# Exercise : summation of 0 to 100 numbers using for loop

In [ ]:
# While - is used to repeating a section of code until a defined condition is no longer met 
i = 1

while (i < 5) : 
    print( 'value ', i)
    i +=1  
    
    
#   break

### String Common functions

In [ ]:
# Strings    -  [ 'a', 'abc', 'text', '1']

c = 'text'     # String literals can be enclosed by either double or single quote
print(c)
print(type(c))

In [ ]:
str_1 = "i don't know"  # A double quoted string literal can contain single quotes and vice versa also
str_1

In [ ]:
# # String concatenation 
text1 = 'string-1      ' + 'string-2'
print(text1)

# String replcation
text2 = 'string ' * 5
print(text2)

#

In [ ]:
str_1 = 'test string'  # Characters in a string can be accessed using the standard [ ] syntax
#print(len(str_1))  # 11 
print(str_1[2])  # String 0th Indexing

In [ ]:
# String Slicing - sub set

str_1 = 'test string'
#str_1[3]

#str_1[1:4]       # slice s[start:end] - it includes the start index and exclude the end index  
str_1[1:]     # slice from 1st index to end
# str_1[:3]     # slice from begining and up to 3rd index (but not including)

In [ ]:
# Common string methods  : calling methods on string object and return the results (OOP )

str_1 = ' Test String '   

#print(str_1.lower())      # returns the lowercase
#print(str_1.upper())      # returns the Uppercase
#print(str_1.lstrip())       # return a string with whitespacae removed from left
#print(str_1.rstrip())     # return a string with whitespacae removed from right
#print(str_1.strip())      # returns a string with whitespace removed from the start and end

#str_1.startswith(' ') # tests if the str_1 start with space ' '
str_1.endswith(' ') # tests if the str_1 end with space ' '

In [ ]:
str_1 = 'Test String est est'
#str_1.find('est')    # search for 'est' in the str_1 and returns the first index where it begins or -1 if not found

#str_1.find('est', 5, 15)  # search witin a range

#str_1.count('est')   # count the occurence of substring 'est' in whole string str_1

#[i for i in range(len(str_1)) if str_1.startswith('est', i)] # all the occurences pos of substr

In [ ]:
#str_1.replace('est', 'EST') # returns a string where all occurrences of 'est' have been replaced by 'EST'

str_1.replace('est', 'EST', 1) # replace the first occurrence,

In [ ]:
# Exercise - In text_1,  (1) remove all the leading and trailing spaces (2) replace 1st occurence of 'string' with 'replaced'
#                        (3) remove only leading spaces  (4) remove all the white spaces 

text_1 = "  text string to check sub string functionality "


#text_1.replace(' ', '')

In [ ]:
str_2 = 'Test1,Test2,Test3'
#str_2.split(',')      # returns a list of substrings separated by the given delimiter.

#str_2.split(',', maxsplit=1)     # at most maxsplits will be done


# str_2 = 'Test1 Test2 Test3' # by default it will remove all the white space 
# str_2.split()

In [ ]:
str_3 = "test string"
str_3.capitalize()    # captialize the string
#str_3.rjust(15)      # Right-justify a string, padding with spaces
#str_3.ljust(15)      # left justtify a string, padding with spaces
#str_3.center(15)     # center a string, padding with spaces

# more details on string can be found - 
#  https://docs.python.org/3.6/library/stdtypes.html#string-methods

####  Containers : Data Structures

In [ ]:
# Containers : data Structures
#
# List  - mutable element , ([] - Square Bracket)
# tuple - immutable element , ( () - Paranthesis)
# dictionaries - stores map from one type of object to another type of object , ( {} - Curly Barcket)
# key - value
# key - immutable types (string, number, tuple)

In [ ]:
# List - ([] - Square Bracket) - Support indexing and slicing

list_1 = ['abc', 34.1, 10, True]   # list is a sequence of values with differrent datatypes.
#print(list_1)

#print(list_1[0])    # 0th index
# print(list_1[2])    # 2nd index
#print(list_1[-1])   # from last 1st index
# print(list_1[-3])

#type(list_1)

In [ ]:
# list slicing
list_3 = [1,9,8,4,5,6,3,2,10]

print(list_3[1:6]) # start from 1st index ends at 5th index but does not include the last index(so till 4th index)
# print(list_3[:5])  # start from 0th index ends at 4th index
# print(list_3[2:])  # start from 2nd till end

# print(len(list_3)) # pring the length of list_3

In [ ]:
list_3.sort()  # Ascending order 
list_3

# list_3.sort(reverse=True)
# list_3

In [ ]:
# List Update
list_3[2]='changed'   # 2nd index = 3 will get replaced with 'changed'
print(list_3)

In [ ]:
# List Append
list_3.append('string')  # add the element at the end of list
list_3

In [ ]:
# List Insert
list_3.insert(2, 100)  # insert a new value 100 at 2nd index
list_3

In [ ]:
# remove item in a list based on idex

del list_3[1]
list_3     

#del list_3[2:6]
#del list_3

In [ ]:
list_3

In [ ]:
# List pop() - removing the list items 
list_3.pop()   # last item will be removed

In [ ]:
list_3  # poped list- list item was removed

In [ ]:
list_3.pop(1)  # remove the item based on list index

In [ ]:
list_3

In [ ]:
# list.remove()   # remove the first occurence of item value
list_3.remove(4)  # item value 4 gets removed

In [ ]:
list_3

In [ ]:
# list_3.append(9)
# print(list_3)
# list_3.remove(9) # will remove only the first occurene of 9
# print(list_3)

#### List iterables

In [ ]:
# we can use any iterables for loop

# List iterables
list_1 = ['abc', 34.1, 10, True]

for x in list_1:
    print(x)

In [ ]:
# Exercise 
list_test = ['a',1,'b','c','d',2,3,4,5, 10.5]  # Get all the numeric values from the list_test

In [ ]:
type(list_test[1])
#isinstance(list_test[1],int)

In [ ]:
# isinstance(True,int)
# if type(i) is not int:

In [ ]:
# Exercise :  nums = [1, 2, 3, 4, 5]

# get the squared value for each item in the nums list.
# get the squared value for items in the nums list for only even numbers.

#### List Compression

In [ ]:
nums = [1, 2, 3, 4, 5]

[x**2 for x in nums if x%2==0 ]

#[x**2 for x in nums if x%2==0 ]

In [ ]:
# String iterables 
string = "Testing"
for x in string:
     print(x)
    
#    print(x, end=' ')

#### Tuples - An immutable ordered list of values

In [ ]:
# Tuple: ( () - Paranthesis ) ,  create tuple by just putting comma seperated values.
tup_test = ("name", "address", 1, '2', '3','True')
tup_test
#type(tup_test)

In [ ]:
# select the 1st item in tup_test
tup_test[0]

In [ ]:
# tuple is immutable, data values can not be updated
tup_test[0] = 'changed values'  # trying to update the 1st element, will give error.


# tuples can be used as a dictionary keys that are in immutable nature.

In [ ]:
#sorted(tup_test)

In [ ]:
# tuple can concatenate with another tuple
tup_test = tup_test + ('new-value',)
tup_test

In [ ]:
tup1 = (4, 3, 5, 7)
sorted(tup1)
#sorted(tup1, reverse=True)

####  Dictionary

In [ ]:
# Dictionary: ( {} - Curly Barcket) - allow to quicly select an item withou knowing the index, just use the key and get the value.

# Use {} curly brackets to construct the dictionary.
# A dictionary maps a set of objects (keys) to another set of objects (values).

# Key, Value and item in Dictionary
test_dict = {'age':30, 'color':'white', 'hieght':6.5}
test_dict

In [ ]:
test_dict.items()

In [ ]:
test_dict.keys()  # list of all the keys in dictionary

In [ ]:
test_dict.values()

In [ ]:
# selecting value for a key
test_dict['age']  # value for Key 'age' is 30

In [ ]:
print ('age' in test_dict)  # Check if a dictionary has a given key

In [ ]:
test_dict['salary'] = 100000  # ading a new entry, set an entry in dictionary
test_dict

In [ ]:
del test_dict['salary']  # deleting a key
test_dict

In [ ]:
test_dict.get('age', 'N/A')  # get an element with a default

In [ ]:
test_dict.get('key1', 'N/A')  # get an element with a default

In [ ]:
# key part in dictionary
for k in test_dict.keys():
    print(k)

In [ ]:
# value part in dictionary
for v in test_dict.values():
    print(v)

In [ ]:
# items in dictionary
for i in test_dict.items():
    print(i)

In [ ]:
# Dictionary can have another list or dictionary as item
dict_2 = {'key1':10, 'key2':[1,2,3], 'key3':{'k1':1, 'k2':2}}

In [ ]:
dict_2['key2']

In [ ]:
dict_2['key2'][0]

In [ ]:
dict_2['key3']['k2']

#### Functions (UDFS)

In [ ]:
# User Defined Functions - to execute the repeatable code multiple times without rewriting the same code many times.

# printing name function, returing value

def hello_fun2(name):                           # name is a parameter
    print('Input : ', name)         
    return(len(name))                           # return the final value to the calling function

In [ ]:
# Calling function 
hello_fun2('Shyam')

In [ ]:
# Exercise : Addition functoin to add two numbers a & b and reurn the 75% of total sum
# Exercise : Sign Function to return the Number sign

#### *arg - passing multple arguments in the form of tuples()

In [ ]:
def add_func1(a,b,c=0,d=0):
    return(a+b+c)

In [ ]:
add_func1(10,20,40,60)

In [ ]:
def add_func2(*args):       # args will be passed in the form of tuples (a,b,c,d)
    print(args)
    return(sum(args))

In [ ]:
add_func2(10,20,30,40,50,60,70)

In [ ]:
# Exercise - Write a function with *args parms to return the multiplication product of all the input paramters passed

In [ ]:
# multiplication fucntion

def mult_5(a):
    return(5*a)

In [ ]:
mult_5(20)

In [ ]:
# multiplication fucntion  - Added with Docstring - that has information about function

def mult_5(a):
    '''
    Docstring: information about the function - multiply by 5
    Input : var1 
    Output: var1 multiplied by 5
    
    '''
    return(5*a)

In [ ]:
mult_5(20)

In [ ]:
# Exercise :  apply a function (multiply) over the input 
list_2 = [1, 2, 3, 4, 5]

#           (1) - using for loop      #####                                                 - list_3.append(mult_5(i))
#           (2) - List compression    #####                                                 - mult_5(i) for i in list_2

#### map() - built in function to map a function to iterators
-  it takes in a function and an iterable (x) and then returns another iterable

In [ ]:
list_2 = [1, 2, 3, 4, 5]

In [ ]:
#map(mult_5, list_2)
list(map(mult_5, list_2))  # transform the map into list

#### Lambda expression - Anonymous function

In [ ]:
def mult_5(a):
    return(5*a)

# def mult_5(a):return(5*a)

In [ ]:
mult_5(6)

In [ ]:
t = lambda a : 5*a

In [ ]:
t(3)

In [ ]:
# Exercise : Write a lamda addition function to add two number a, b

In [ ]:
list_2 = [1, 2, 3, 4, 5, 6]

In [ ]:
# Lambda map() - no need to create the function seperately

list( map(lambda a : 5*a , list_2))

In [ ]:
## Exercise, Addition of two list using map() lambda
list_a = [1, 2, 3, 4, 5]
list_b = [6, 7, 8, 9, 10]

In [ ]:
t = lambda a, b : a+b

In [ ]:
list_a + list_b

#### Filter() -   Filter(function, seq) => filter the seq for which function() returns True

In [ ]:
# Exercise - filter odd numbers - list_4 = [1, 2, 3, 4, 5, 6]

# list(map(lambda a, b : a+b, list_a, list_b))

In [ ]:
list_4 = [1, 2, 3, 4, 5, 6]

In [ ]:
def odd_func(x):
    if x%2==1:
        return x

In [ ]:
odd_func(3)

In [ ]:
list(map(odd_func, list_4))

In [ ]:
list(filter(odd_func, list_4))

In [ ]:
#list(filter(lambda x : x%2==1 , list_4)) #

# heading

# Heading 
#### Heading-2 
- point-1
- point-2

##### Headerar-1  - Markdown formatting 

## Headear-2

### Header-3
 1. c**point**-1
 2. point-4

#### Header-4
- text-1
- text-2

In [ ]:
# Help
# (i) H
# (ii) ctrl + shift + P